@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --preset-1-font-family: var(--font-nunito);
  --preset-1-font-size-desktop: 4.5rem;
  --preset-1-font-size-tablet: 4rem;
  --preset-1-font-size-mobile: 3.25rem;
  --preset-1-font-weight: 800;
  --preset-1-line-height: 110%;
  --preset-1-letter-spacing: -2px;

  --preset-2-font-family: var(--font-nunito);
  --preset-2-font-size-desktop: 3rem;
  --preset-2-font-size-mobile: 2.5rem;
  --preset-2-font-weight: 800;
  --preset-2-line-height: 120%;
  --preset-2-letter-spacing: -2px;

  --preset-3-font-family: var(--font-nunito);
  --preset-3-font-size: 2rem;
  --preset-3-font-weight: 700;
  --preset-3-line-height: 130%;
  --preset-3-letter-spacing: -1px;

  --preset-4-font-family: var(--font-nunito);
  --preset-4-font-size: 1.5rem;
  --preset-4-font-weight: 700;
  --preset-4-line-height: 130%;
  --preset-4-letter-spacing: -1px;

  --preset-5-font-family: var(--font-nunito);
  --preset-5-font-size: 1.25rem;
  --preset-5-font-weight: 700;
  --preset-5-line-height: 140%;
  --preset-5-letter-spacing: -0.5px;

  --preset-6-font-family: var(--font-nunito-sans);
  --preset-6-font-size: 1.25rem;
  --preset-6-font-weight: 500;
  --preset-6-line-height: 150%;
  --preset-6-letter-spacing: -0.4px;

  --preset-7-font-family: var(--font-nunito);
  --preset-7-font-size: 1.125rem;
  --preset-7-font-weight: 600;
  --preset-7-line-height: 150%;
  --preset-7-letter-spacing: -0.3px;

  --preset-8-font-family: var(--font-nunito-sans);
  --preset-8-font-size: 1rem;
  --preset-8-font-weight: 700;
  --preset-8-line-height: 150%;
  --preset-8-letter-spacing: -0.3px;

  --preset-9-font-family: var(--font-nunito-sans);
  --preset-9-font-size: 1rem;
  --preset-9-font-weight: 500;
  --preset-9-line-height: 150%;
  --preset-9-letter-spacing: -0.3px;

  --preset-10-font-family: var(--font-nunito-sans);
  --preset-10-font-size: 0.875rem;
  --preset-10-font-weight: 700;
  --preset-10-line-height: 150%;
  --preset-10-letter-spacing: -0.3px;

  --color-neutral-900: #163a34;
  --color-neutral-800: #395852;
  --color-neutral-300: #d0dcd9;
  --color-neutral-200: #e0e6e3;
  --color-neutral-100: #f6f5f1;
  --color-neutral-0: #ffffff;

  --color-orange-500: #fe9f6b;
  --color-teal-500: #49ac9b;
  --color-indigo-500: #697ddb;

  --background: var(--color-neutral-100);
  --foreground: var(--color-neutral-800);
}

@theme inline {
  --font-nunito: var(--font-nunito);
  --font-nunito-sans: var(--font-nunito-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neutral-900: var(--color-neutral-900);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-0: var(--color-neutral-0);

  --color-orange-500: var(--color-orange-500);
  --color-teal-500: var(--color-teal-500);
  --color-indigo-500: var(--color-indigo-500);
}

@layer utilities {
  .text-preset-1 {
    font-family: var(--preset-1-font-family);
    font-weight: var(--preset-1-font-weight);
    font-size: var(--preset-1-font-size-mobile);
    line-height: var(--preset-1-line-height);
    letter-spacing: var(--preset-1-letter-spacing);

    @media (width >= 48rem) {
      font-size: var(--preset-1-font-size-tablet);
    }

    @media (width >= 80rem) {
      font-size: var(--preset-1-font-size-desktop);
    }
  }

  .text-preset-2 {
    font-family: var(--preset-2-font-family);
    font-weight: var(--preset-2-font-weight);
    font-size: var(--preset-2-font-size-mobile);
    line-height: var(--preset-2-line-height);
    letter-spacing: var(--preset-2-letter-spacing);

    @media (width >= 48rem) {
      font-size: var(--preset-2-font-size-desktop);
    }
  }

  .text-preset-3 {
    font-family: var(--preset-3-font-family);
    font-weight: var(--preset-3-font-weight);
    font-size: var(--preset-3-font-size);
    line-height: var(--preset-3-line-height);
    letter-spacing: var(--preset-3-letter-spacing);
  }

  .text-preset-4 {
    font-family: var(--preset-4-font-family);
    font-weight: var(--preset-4-font-weight);
    font-size: var(--preset-4-font-size);
    line-height: var(--preset-4-line-height);
    letter-spacing: var(--preset-4-letter-spacing);
  }

  .text-preset-5 {
    font-family: var(--preset-5-font-family);
    font-weight: var(--preset-5-font-weight);
    font-size: var(--preset-5-font-size);
    line-height: var(--preset-5-line-height);
    letter-spacing: var(--preset-5-letter-spacing);
  }

  .text-preset-6 {
    font-family: var(--preset-6-font-family);
    font-weight: var(--preset-6-font-weight);
    font-size: var(--preset-6-font-size);
    line-height: var(--preset-6-line-height);
    letter-spacing: var(--preset-6-letter-spacing);
  }

  .text-preset-7 {
    font-family: var(--preset-7-font-family);
    font-weight: var(--preset-7-font-weight);
    font-size: var(--preset-7-font-size);
    line-height: var(--preset-7-line-height);
    letter-spacing: var(--preset-7-letter-spacing);
  }

  .text-preset-8 {
    font-family: var(--preset-8-font-family);
    font-weight: var(--preset-8-font-weight);
    font-size: var(--preset-8-font-size);
    line-height: var(--preset-8-line-height);
    letter-spacing: var(--preset-8-letter-spacing);
  }

  .text-preset-9 {
    font-family: var(--preset-9-font-family);
    font-weight: var(--preset-9-font-weight);
    font-size: var(--preset-9-font-size);
    line-height: var(--preset-9-line-height);
    letter-spacing: var(--preset-9-letter-spacing);
  }

  .text-preset-10 {
    font-family: var(--preset-10-font-family);
    font-weight: var(--preset-10-font-weight);
    font-size: var(--preset-10-font-size);
    line-height: var(--preset-10-line-height);
    letter-spacing: var(--preset-10-letter-spacing);
  }
}

@layer components {
  .main-nav-link:link,
  .main-nav-link:visited {
    position: relative;
    color: var(--color-neutral-900);
    border-radius: 4px;

    &:focus-visible {
      outline: 2px solid var(--color-neutral-900);
      outline-offset: 2px;
    }

    &::after {
      content: '';
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: calc(infinity * 1px);
      background-color: var(--color-orange-500);
    }

    &.active::after,
    &:hover::after {
      display: block;
    }
  }

  .main-heading-highlight:after {
    content: '';
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 0;
    width: 101%;
    height: 23px;
    background-color: rgba(from var(--color-orange-500) r g b / 0.4);
    border-radius: 4px;
  }

  .real-life-section-highlight:after {
    --overflow-width: 5px;
    content: '';
    position: absolute;
    z-index: -10;
    bottom: 15%;
    left: calc(var(--overflow-width) / -2);
    width: calc(100% + var(--overflow-width));
    height: 10px;
    background-color: var(--color-orange-500);
    border-radius: 3px;
  }

  .cta-section {
    @media (width >= 48rem) {
      background: url(../../public/img/pattern-fork.svg),
        url(../../public/img/pattern-knife.svg), var(--color-neutral-100);
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: bottom min(calc(-50px + 2vw), 50%) left -50px,
        top min(calc(-100px + 6vw), 50%) right -40px, 0 0;
      background-size: 25%, 25%, 100%;
    }
  }

  .about-list > li::before,
  .ingredient-list > li::before,
  .instructions > li::before {
    content: '';
    display: inline-block;
    background-image: url(../../public/img/icon-bullet-point.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  .about-list > li::before {
    width: 2rem;
    height: 2rem;
  }

  .ingredient-list > li::before,
  .instructions > li::before {
    width: 1lh;
    height: 1lh;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-800);
  }
}
